<header>
  <nav class="header-nav">
    <div class="menu-wrapper">
      <a href={{ '/' | absolute_url }}><img src="{{ 'assets/monogram.svg' | absolute_url }}"></a>
      <ul>
        <li><a href="{{ 'syllabus' | absolute_url }}">Syllabus</a></li>
        <li><a href="{{ 'readings' | absolute_url }}">Readings</a></li>
        <li><a href="{{ 'projects' | absolute_url }}">Projects</a></li>
        <li><a href="{{ 'resources' | absolute_url }}">Resources</a></li>
      </ul>
    </div>
    <div class="header-marquee__wrapper">
      <h2><span>PSAM 1208 <span><span>Fall 2018</span></h2>
      <div class="header-marquee__image">
        <img src="{{ 'assets/marquee.svg' | absolute_url }}">
      </div>
    </div>
  </nav>
</header>